@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;

}

main {
  display: flex;

}



section.left {
  width: 250px;
  height: 100vh;
  background-color: #1C1C1C;

}

#img_logo {
  width: 150px;
  height: 150px;
  margin: 5px 0px 0px 20px;
}

section .menu {
  width: 85%;
  height: 50%;


}

section .menu .biblioteca {
  font-size: 20px;
  margin: 35px 0px 0px 40px;
  cursor: pointer;

}

a {
  color: rgb(94, 103, 110);
  text-decoration: none;
  font-size: 18px;


}

a:hover {
  color: #fff;
}

h1 {
  color: aliceblue;
  font-size: 28px;
  margin: 20px 0px 0px 10px;

}

li {
  padding-bottom: 20px;
}

section.right {
  width: 100%;
  height: 100vh;
  background-color: #111111;
  float: right;

}

section.player {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: #181818;
}

section .player_song {
  width: 40px;
  height: 30px;
  margin: 15px 0px 0px 50px;
  display: flex;
  align-items: flex-end;


}

section .player_song .teste {
  width: 3px;
  height: 10px;
  background: aliceblue;
  border-radius: 10px 10px 0px 0px;
  animation: player_song 1s linear infinite;
  margin-right: 3px;


}

section .player_song .teste:nth-child(2) {
  height: 13px;
  animation-delay: .4s;

}

section .player_song .teste:nth-child(3) {
  height: 8px;
  animation-delay: .8s;
}

@keyframes player_song {
  0% {
    height: 10px;
  }

  50% {
    height: 15px;
  }

  100% {
    height: 10px;
  }

}


section .img_albuns {
  border: 1px solid floralwhite;
  width: 40px;
  height: 40px;
  margin: -32px 0px 0px 80px;
  display: flex;
  align-items: flex-end;


}

#img_album {
  width: 40px;
  height: 40px;

}

section .teste2 {
  width: 150px;
  height: 35px;
  margin: -38px 0px 0px 130px;

}

section .h5 {
  width: 40px;
  height: 40px;
  font-size: 13px;
  color: aliceblue;
  display: inline;




}

section .controlador {
  width: 100px;
  height: 25px;
  font-size: 25px;
  margin: -25px 0px 0px 155px;
  color: aliceblue;

}

section .controlador .bi {
  cursor: pointer;
  outline: none;
}



section .temporizador {

  width: 600px;
  height: 30px;
  margin: -22px 0px 0px 255px;
  display: flex;

}

section span {
  color: #fff;
  width: 32px;

  font-size: 15px;
  font-weight: 400;
}

#inicio {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  margin: 5px
}

#fim {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  margin: 5px
}

section .bar {
  width: 80%;
  height: 2px;
  position: relative;
  background-color: rgb(105, 105, 170, .1);
  margin: 10px 15px 0px 10px;

}

section .bar .bar2 {
  position: absolute;
  background-color: aliceblue;
  width: 0;
  height: 100%;
  top: 0;
}

section .bar .dot {
  position: absolute;
  width: 5px;
  height: 5px;
  background: aliceblue;
  border-radius: 50%;
  left: 0%;
  top: -1px;
  transition: 1s linear;

}

section .bar .dot::before {
  content: ' ';
  position: absolute;
  width: 15px;
  height: 15px;
  background: aliceblue;
  border-radius: 50%;
  left: -6px;
  top: -6px;
  box-shadow: inset 0px 0px 3px aliceblue;

}

section .input_bar {
  position: absolute;
  width: 100%;
  top: -9px;
  left: 0px;
  cursor: pointer;
  z-index: 99999999;
  transition: 3s linear;
  opacity: 0;
}


section .volume {
  position: relative;
  width: 100px;
  height: 2px;
  margin: -20px 0px 0px 900px;
  display: flex;
  background: rgb(105, 105, 170, .1);

}

#vol_icone {
  width: 100px;
  height: 25px;
  font-size: 30px;
  margin: -15px 0px 0px -40px;
  color: aliceblue;


}

section .input_vol {
  position: absolute;
  width: 100%;
  top: -9px;
  left: 0px;
  cursor: pointer;
  z-index: 99999999;
  transition: 3s linear;
  opacity: 0;
}


section .volume .volume_bar {
  position: absolute;
  background-color: aliceblue;
  width: 0;
  height: 100%;
  top: 0;
}

section .volume .dot {
  position: absolute;
  width: 5px;
  height: 5px;
  background: aliceblue;
  border-radius: 50%;
  left: 0%;
  top: -1px;
  transition: 1s linear;

}

section .volume .dot::before {
  content: ' ';
  position: absolute;
  width: 15px;
  height: 15px;
  background: aliceblue;
  border-radius: 50%;
  left: -6px;
  top: -6px;
  box-shadow: inset 0px 0px 3px aliceblue;

}


section .favoritar_repetir {
  position: relative;
  width: 100px;
  height: 20px;
  margin: -30px 0px 0px 1200px;
  display: flex;


}


#favoritar_icone {
  width: 100px;
  height: 25px;
  font-size: 20px;
  margin: 2px 0px 0px 0px;
  color: aliceblue;

}


#repetir_icone {
  width: 100px;
  height: 25px;
  font-size: 20px;
  margin: 2px 0px 0px 0px;
  color: aliceblue;
}


section .search {
  position: relative;
  width: 40%;
  padding: 1px 10px;
  border-radius: 20px;
  color: aliceblue;
  margin: 15px 0px 0px 0px;



}

section .input_search {
  background-color: #1C1C1C;
  color: aliceblue;
  width: 90%;
  height: 20px;
  border: none;
  border-radius: 10px;
  font-size: 12px;
}

section .user {
  position: relative;
  margin: -20px 0px 0px 1070px;
  width: 30px;
  height: 30px;
  border: 50px;
  cursor: pointer;
}

#img_user {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 2px 2px 8px #131312;
}

section .recentes {
  width: 80%;
  height: auto;
  margin: auto;
  margin-top: 70px;
  color: aliceblue;
}



section .h4 {
  display: flex;
  padding-bottom: 10px;
  justify-content: space-between;
  font-size: 20px;
  flex-direction: column
}

section .teste1 {
  margin: -60px 0px 0px 0px
}

#capa_fav {
  width: 100px;
  height: 100px;
  border-radius: 50%;


}

section .musicas_fav {

  left: 4px;
  width: 900px;
  height: 355px;
  overflow: auto;
  scroll-behavior: smooth;



}

section .musicas_fav ::-webkit-scrollbar {
  display: none;
}

section .musicas_fav li {
  list-style-type: none;
  padding: 5px 0px 5px 20px;
  display: flex;
  width: 90%;
  margin-bottom: 10px;
  cursor: pointer;
  transition: .3s linear;

}

section .musicas_fav li:hover {
  background-color: rgb(35, 37, 37);
}

section .musicas_fav h5 {
  padding: 0px 0px 0px 9px;
  line-height: 15px;
  font-size: 13px;
  margin: 4px 0px 0px 0px
}

section .musicas_fav li h5 .artistas {

  font-size: 15px;
  color: aliceblue;

}

#msc {
  width: 35px;
  height: 35px;
  flex-direction: column
}

#icon_play {
  position: absolute;
  cursor: pointer;
  transition: .3s linear;
  opacity: 0;
  font-size: 18px;
  margin: 8px 0px 0px 9px;
}

#icon_play:hover {
  opacity: 1;
}